extends layout
block content
    .container-fluid.main-content
        //
           Statistics
        .row
            .col-lg-12
                .widget-container.stats-container
                    .col-md-3
                        .number
                            .icon.globe
                            | 99.995
                            small %
                        .text
                            | Server Uptime
                    .col-md-3
                        .number
                            .icon.visitors
                            | 2.253+
                        .text
                            | Billion Ident Visitors
                    .col-md-3
                        .number
                            .icon.chat-bubbles
                            | 924+
                        .text
                            | Million Convergences
                    .col-md-3
                        .number
                            .icon.visitors
                            | 924+
                        .text
                            | Million Known Idents
        //
           End Statistics
    .page-title
        h1 Storgie Storage Server
        .row
            .col-lg-12
                .widget-container.fluid-height.clearfix
                    .col-md-4
                        .heading
                            i.icon-book Sample Lead
                        .widget-content.padded
                            p.lead Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec ullamcorper mauris. Pellentesque ligula justo, imperdiet sit amet vehicula id, lobortis eu ligula. Vestibulum vel massa a turpis scelerisque scelerisque. Quisque tincidunt interdum tortor nec consectetur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris aliquam fermentum elementum. Praesent vitae erat at dui imperdiet faucibus vitae rutrum lorem. Aliquam nunc odio, eleifend vel dignissim a, interdum id est. In ornare eleifend orci, quis suscipit quam molestie id. Cras eget nulla nec dui hendrerit aliquam. Nam id mi iaculis, facilisis mi sit amet, rhoncus ante. Integer eget lorem dignissim purus tempor imperdiet vel lobortis risus. Phasellus imperdiet mi in mattis vestibulum.
                    .col-md-4
                        .heading
                            i.icon-book Sample Lead
                        .widget-content.padded
                            p.lead Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit.
                            p In eros purus, sollicitudin sed interdum vel, dignissim hendrerit velit. Aenean sollicitudin commodo tortor eu consectetur. Mauris eu accumsan metus, ut laoreet massa. Nullam ac porta lacus. Curabitur congue sapien sed neque commodo varius. Nam justo erat, pretium eget lectus at, malesuada elementum magna. Nullam id bibendum neque, in commodo dolor. Praesent a laoreet magna. Quisque at velit viverra, dictum urna et, hendrerit sem. Mauris diam orci, sagittis sodales posuere sed, fringilla faucibus quam. Sed dapibus sem lacus, non tristique tortor lacinia at. Integer eu metus ut leo sagittis porttitor a eget sem. Integer scelerisque viverra odio non vehicula. Integer nisi quam, tincidunt non sapien nec, tempus mattis sapien. In sit amet diam rhoncus, rutrum nibh eu, hendrerit justo.
                    .col-md-4
                        .heading
                            i.icon-book Sample Lead
                        .widget-content.padded
                            p.lead Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit.
                            p Phasellus et odio sed ligula blandit semper. Curabitur feugiat lectus nec leo suscipit tristique. Nulla vestibulum risus eget egestas pretium. Sed ut justo nibh. Duis blandit eleifend sem ut venenatis. Pellentesque eget sem justo. Mauris condimentum, dolor sed blandit ultricies, lacus dui convallis dolor, vitae vehicula enim nibh ut libero.
