extends layout
    block header
        script(src='controllers/stat.js', type='text/javascript')
        script(src="javascripts/chance.js", type='text/javascript')
    block content
        .container-fluid.main-content
        .page-title
            h1= title
            .row
                .col-lg-12(ng-controller='Stat')
                    .widget-container.fluid-height.clearfix
                        .col-md-12
                            .heading
                                i.icon-cloud #{title}  Environmental Status
                            .widget-content.padded
                                p.lead Basic state of the storgie ecosystem.
                                b Status...
                                ul
                                    li Server Count {{storgie_status.Servers}}
                                    li Compute Load {{storgie_status.Compute}}
                                    li Memory Load {{storgie_status.Memory}}
                                    li Generated Guid {{generated_guid}}